name: CI Pipeline

on:
  push:
    branches: ['*']
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      - name: Install dependencies
        run: |
          pip install bandit
      
      - name: Security scan with Bandit
        run: |
          bandit -r . -f txt || true
          bandit -r . -ll -ii
      
      - name: Build Docker image
        run: docker build -t devops-api:v1 .
      
      - name: Run container test
        run: |
          docker run -d -p 8000:8000 --name test-container devops-api:v1
          sleep 5
          curl -f http://localhost:8000/health || exit 1
          docker stop test-container
      
      - name: Tag image for deployment
        run: docker tag devops-api:v1 eyahafsa/devops-api:latest
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Push to Docker Hub
        run: docker push eyahafsa/devops-api:latest