name: CI Pipeline

on:
  push:
    branches: ['*']
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Build Docker image
        run: docker build -t devops-api:v1 .
      
      - name: Run container test
        run: |
          docker run -d -p 8000:8000 --name test-container devops-api:v1
          sleep 5
          curl -f http://localhost:8000/health || exit 1
          docker stop test-container
